.app-container {
  margin: 15px 5%;
}
main {
  margin-top: 25px;
}
.logo {
  background-color: var(--light);
}
.control {
  display: flex;
  justify-content: space-between;
  padding: 8px 15px;
}
.agregar-btn {
  background-color: var(--cyan);
  color: var(--light);
  border: 1px solid var(--dark);
  padding: 4px 10px;
  border-radius: 2px;
}
.content {
  margin-top: 20px;
  padding: 0 5%;
}
.content table {
  width: 100%;
} 
.content table thead {
  text-align: left;
}

